{% extends 'base.html' %} {% block content %}
<div>
  <span class="left m-2" style="font-size: 20px"
    >Welcome, {{ request.user }}</span
  >
</div>
<div class="clearfix">
  <a class="btn btn-info right" href="{% url 'logout' %}"> Logout </a>
  <a
    class="btn btn-info right mr-2"
    href="{% url 'calendarapp:calendar' %}?{{ next_month }} "
  >
    Next Month >>
  </a>
  <a
    class="btn btn-info right mr-2"
    href="{% url 'calendarapp:calendar' %}?{{ prev_month }}"
  >
    << Previous Month
  </a>
  <a class="btn btn-info right mr-2" href="{% url 'calendarapp:session_new' %}">
    + New Session
  </a>
  <a class="btn btn-info right mr-2" href="{% url 'calendarapp:course_new' %}">
    + New Course
  </a>
  <a class="btn btn-info right mr-2" href="{% url 'calendarapp:professor_new' %}">
    + New Professor
  </a>
  <a class="btn btn-info right mr-2" href="{% url 'calendarapp:availability_new' %}">
    + New Availability
  </a>
  <a class="btn btn-info right mr-2" href="{% url 'calendarapp:preference_new' %}">
    + New Preference
  </a>
  <a class="btn btn-info right mr-2" href="{% url 'calendarapp:student_new' %}">
    + New Student
  </a>
  <a class="btn btn-info right mr-2" href="{% url 'calendarapp:groupe_new' %}">
    + New Group
  </a>
</div>
<div style="color: blueviolet">{{ calendar }}</div>
{% endblock %}